<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/a0be81ce-9338-4f7f-9404-8f4610f60981/resourcegroups/Task1/providers/Microsoft.Web/sites/task07</ResourceId>
    <ResourceGroup>Task1</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://task07.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>d5f7917e-8116-4179-8b3d-0c0e40e25caf</ProjectGuid>
    <PublishUrl>https://task07.scm.azurewebsites.net/</PublishUrl>
    <UserName>$task07</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>